th ,tr ,td{
    border: 1px solid black;
    text-align: center;

}
th{
    background:linear-gradient(to top right, var(--gray-dark),var(--gray),var(--secondary));
color :white;
}
:root{

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

}

         .nd_giohang{
     margin-top: 50px;
             width: 100%;
            
         }
         .boloc h1{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         color:black;
         position: relative;
      
     
            }
           
         
            
        .boloc h1::after{
            content: "";
            position: absolute;
            bottom: -30px;
            left: 45%;
            width: 95px;
            height: 6px;
            border-radius: 30px;
           background-color: red;

        }
        .thaotac{
       
            width: 60px;
            height: 20px;
        }
        .thaotac:hover{background-color: red;
            
            color: seashell;
            transform: scale(1.2);
            
        }
.dathang{
 
    position:absolute;
right: 24%;
bottom: -35px;




}
.boloc h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color:black;
     position: relative;
     background-color: white;
        }
.boloc h1::after{
        content: "";
        position: absolute;
        bottom: -20px;
        left: 45%;
        width: 95px;
        height: 6px;
        border-radius: 30px;
       background-color: red;
    }
.dathang input{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 0, 0);
    color: bisque;
    font-weight: bold;
    border: none;
    transition: 0.25s;
}
.dathang input:hover{
    transform: scale(1.1);
    background-color: chartreuse;
    color: black;
}
.tt_donhang{
    position: relative;
    /* position: absolute; */
  
    width: 100%;
}
.title_donhang{
    text-align: center;
    padding-right: 15px;
    border-radius: 10px;
    padding-left: 20px;
    color: whitesmoke;
    height: 60px;
    line-height: 70px;
}
.nhapdulieu label{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.nhapdulieu input{
    height: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.1s;
    padding-left: 20px;
    border: 1px solid rgb(207, 207, 207);

 
}
.nhapdulieu input:focus{

    border: 3.2px solid rgb(0, 153, 255);
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 7px rgb(0, 132, 255);
}
.nhapdulieu input::placeholder{
    font-size: 15px;
}

.nhapdulieu{
    width: 100%;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
}
.ctop{
    padding-top: 155px;
}
@media  screen and (max-width:490px) {
    .giohangrepon{
        font-size: 10px !important;
    }
    .giohangrepon img{
        height: 70px !important;
        width: 50px !important;
        object-fit: cover !important;
    }
    .repon-h1{
        font-size: 20px !important;
    }
    .boloc h1::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 40%;
        width: 95px;
        height: 6px;
        border-radius: 30px;
        background-color: red;
    }

}