



h3{
    text-align: center;
    color: rgb(209, 180, 166);



  

}
.close
{
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
  position: absolute;
  top: 7%;
  right: 4%;
   

 
    

}
.close :hover
{
    color:red ;
  
 
}
#btnDN{
    border-radius: 4px;
   
   
}
#btnDN >a:hover{
  color: bisque;

}

#btnDK{
  
   border-radius: 4px;
   
}
#btnDK >a:hover{
  
    color: bisque;
}

button {
    z-index: 1;
    position: relative;
   
    font-family: inherit;
   
  
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }
  
  .sign   button::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #000000f6;
    transform-origin: center;
    transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;

  }
  
  button:hover {
    cursor: pointer;
   
    border: 2px solid wheat;
  }
  
  button:hover::before {
    transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
  }
  



.modal-header{

    height: 300px;
    text-align: center;
    padding-top: 20px;

  
}
.modal-header button{
    background-color: rgb(248, 248, 248);
    border-radius: 7px;
     margin-right: -30px;
     margin-left: 40px;

}
.modal-header button:hover{
    background-color: rgba(0, 0, 0, 0.76);
    color: blanchedalmond;
    user-select: none;
    
}
.modal-header td{
    padding-top: 15px;
   padding-left: 25px;
   user-select: none;
    
 
}
a{
    text-decoration: none;
}

  


.form_modal {
    width: 370px;
    background: rgb(0, 0, 0);
    position: fixed;
    margin-top: 90px;
    left: 50%;
    z-index: 9999;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #000000;
    overflow: hidden;
    border: 2.2px solid #ffffff;
    cursor: pointer;
    user-select: none;
    
    
}
.form_modal_dang_nhap {
    width: 370px;
    margin-left: -170px;
    height: auto;
    color: bisque;
    user-select: none;
    
  
}
.modal-content{

 height: 300px;
}
.modal_dang_ki {
    height: 420px;
    border: solid 2px white;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    width: 400px;
    float: left;
    padding-top: 50px;
    margin-top: 90px;
    margin-right: 330px;
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 0px 10px #000000;
    overflow: hidden;
    left: 41%;
    cursor: pointer;
display: none;
user-select: none;
    
}
label
{
    user-select: none;
    
}


.header_dk{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
text-align: center;
color: rosybrown;
padding-bottom: 50px;
position: absolute;
top: 20%;

}
.header_dk td{
    padding-top: 15px;
    padding-left: 25px;
    user-select: none;
    
   
}
.header_dk button {
    padding: 5px;
    align-items: center;
    user-select: none;
    
    
  

} 
.header_dk button:hover{
    background-color: rgba(0, 0, 0, 0.76);
    color: blanchedalmond;
    user-select: none;
    
}
.header_dk button{
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
     margin-right: -30px;
     margin-left: 40px;
}
.modal_dang_ki h3{
    text-align: center;
    color: rgb(209, 180, 166);
    padding-left: 50px;
    position: absolute;
    top:1%;
    left: 25%;
    user-select: none;
    
}
.modal_dang_ki span{
    position: absolute;
    top:5%;
    right: 3%;
    user-select: none;
    
}
input:hover{
   
  

    border-left: 2px inset rgb(0, 140, 255);;
    border-top: 2px inset  rgb(0, 140, 255);;
 
      

}
input{
    border:none;
    outline:none;
    background-color: rgb(230, 213, 204);
}
@media  screen and (max-width:700px) {
.modal_dang_ki {
    height: 420px;
    border: solid 2px white;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    width: 400px;
    float: left;
    padding-top: 50px;
    margin-top: 90px;
    left: 10px !important;
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 0px 10px #000000;
    overflow: hidden;
    left: 41%;
    cursor: pointer;
    display: none;
    user-select: none;
}
}

